<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>权限错误</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>

</head>
<body>
<br/>
    <h1>SORRY，亲，你没有权限！</h1>
    <br/>
    <br/>
    <br/>
    <br/>
    <input type="button" class="layui-btn layui-btn-normal "  name="Submit" onclick="javascript:history.back(-1);" value="返回上一页"/>



</body>
<script>


</script>

</html>